.container{
    height: calc(100vh - 150px);
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}

.arrowContainer{
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}

.wrapper{
    width: 400vw;
    height: 100%;
    display: flex;
    transition: all 1.5s ease-in-out;
}

.imgContainer{
    width: 100vw;
    height: 100%;
    position: relative;
}
@media screen and (max-width:280px) {
    .container{
     display: none;
    }
 }


@media screen and (min-width:320px) {
    .container{
        width: 108%;
        height: 35vh;
        margin-left: 17%;
    }
 }

@media screen and (min-width:360px) {
    .container{
        width: 100%;
        height: 31vh;
        margin-left: 22%;
    }
 }

 @media screen and (min-width:375px) {
    .container{
        width: 100%;
        height: 35vh;
        margin-left: 22%;
    }
 }

 @media screen and (min-width:390px) {
    .container{
        width: 100%;
        height: 31vh;
        margin-left: 22%;
    }
 }

 @media screen and (min-width:412px) {
    .container{
        width: 100%;
        height: 29vh;
        margin-left: 16%;
        margin-top: 0px;
    }
 }

 @media screen and (min-width:460px) {
    .container{
        width: 100%;
        height: 46vh;
        margin-left: 23%;
        margin-top: 10px;
    }
 }

@media screen and (min-width:480px) {
   .container{
       width: 108%;
       height: 35vh;
       margin-left: 7%;
   }
}

@media screen and (min-width:540px) {
    .container{
        width: 100%;
        height: 50vh;
        margin-left: 14%;
    }
 }

@media screen and (min-width:768px) {
    .container{
        width: 100%;
        height: 37vh;
        margin-left: 17%;
        margin-top: 30px;
    }
    .wrapper{
        height: 110%;
    }
 }


@media screen and (min-width:820px) {
    .container{
        width: 100%;
        height: 34vh;
        margin-left: 12%;
        margin-top: 25px;
    }
 }

 @media screen and (min-width:912px) {
    .container{
        width: 100%;
        height: 33vh;
        margin-left: 11%;
        margin-top: 30px;
    }
 }

 @media screen and (min-width:1024px) {
    .container{
        width: 100%;
        height: 85vh;
        margin-left: 11%;
        margin-top: 30px;
    }
 }

 @media screen and (min-width:1280px) {
    .container{
        width: 100%;
        height: 69vh;
        margin-left: -8px;
        margin-top: 20px;
    }
 }