.container{
    height: calc(100vh - 150px);
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}

.arrowContainer{
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}
.arrow{
    font-size: 50px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    margin-left: 85px;
}

.arrow2{
    font-size: 50px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 30;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.wrapper{
    width: 400vw;
    height: 100%;
    display: flex;
    transition: all 1.5s ease-in-out;
}

.imgContainer{
    width: 100vw;
    height: 100%;
    position: relative;
}
@media screen and (max-width:280px) {
    .container{
     display: none;
    }
 }


@media screen and (min-width:320px) {
    .container{
        width: 108%;
        height: 35vh;
        margin-left: 17%;
        animation: slide3dInDown 1800ms both
    }
    @keyframes slide3dInDown {
        from {
            transform-origin: 50% 0%;
            transform: perspective(200px) translate3d(0, -200%, -100px) rotateX(-60deg);
            opacity: 0;
        }
    
        50% {
            transform-origin: 50% 0%;
            transform: perspective(200px) rotateX(-45deg);
            opacity: 1;
        }
    
        to {
            transform-origin: 50% 0%;
            transform: perspective(200px);
        }
        
    }
    .arrow{
        margin-left: -2px;
        font-size: 28px;
    }
    .arrow2{
        margin-left: 10px;
        font-size: 28px;
    }
 }

@media screen and (min-width:360px) {
    .container{
        width: 100%;
        height: 31vh;
        margin-left: 22%;
        animation: slide3dInDown 1800ms both
    }
    @keyframes slide3dInDown {
        from {
            transform-origin: 50% 0%;
            transform: perspective(200px) translate3d(0, -200%, -100px) rotateX(-60deg);
            opacity: 0;
        }
    
        50% {
            transform-origin: 50% 0%;
            transform: perspective(200px) rotateX(-45deg);
            opacity: 1;
        }
    
        to {
            transform-origin: 50% 0%;
            transform: perspective(200px);
        }
        
    }
    .arrow{
        margin-left: -2px;
        font-size: 28px;
    }
    .arrow2{
        margin-left: 10px;
        font-size: 28px;
    }
 }

 @media screen and (min-width:375px) {
    .container{
        width: 100%;
        height: 35vh;
        margin-left: 22%;
        animation: slide3dInDown 1800ms both
    }
    @keyframes slide3dInDown {
        from {
            transform-origin: 50% 0%;
            transform: perspective(200px) translate3d(0, -200%, -100px) rotateX(-60deg);
            opacity: 0;
        }
    
        50% {
            transform-origin: 50% 0%;
            transform: perspective(200px) rotateX(-45deg);
            opacity: 1;
        }
    
        to {
            transform-origin: 50% 0%;
            transform: perspective(200px);
        }
        
    }
    .arrow{
        margin-left: -2px;
        font-size: 28px;
    }
    .arrow2{
        margin-left: 10px;
        font-size: 28px;
    }
 }

 @media screen and (min-width:390px) {
    .container{
        width: 100%;
        height: 31vh;
        margin-left: 22%;
        animation: slide3dInDown 1800ms both
    }
    @keyframes slide3dInDown {
        from {
            transform-origin: 50% 0%;
            transform: perspective(200px) translate3d(0, -200%, -100px) rotateX(-60deg);
            opacity: 0;
        }
    
        50% {
            transform-origin: 50% 0%;
            transform: perspective(200px) rotateX(-45deg);
            opacity: 1;
        }
    
        to {
            transform-origin: 50% 0%;
            transform: perspective(200px);
        }
        
    }
    .arrow{
        margin-left: -2px;
        font-size: 28px;
    }
    .arrow2{
        margin-left: 10px;
        font-size: 28px;
    }
 }

 @media screen and (min-width:412px) {
    .container{
        width: 100%;
        height: 29vh;
        margin-left: 16%;
        margin-top: 0px;
        animation: slide3dInDown 1800ms both
    }
    @keyframes slide3dInDown {
        from {
            transform-origin: 50% 0%;
            transform: perspective(200px) translate3d(0, -200%, -100px) rotateX(-60deg);
            opacity: 0;
        }
    
        50% {
            transform-origin: 50% 0%;
            transform: perspective(200px) rotateX(-45deg);
            opacity: 1;
        }
    
        to {
            transform-origin: 50% 0%;
            transform: perspective(200px);
        }
        
    }
    .arrow{
        margin-left: -2px;
        font-size: 28px;
    }
    .arrow2{
        margin-left: 10px;
        font-size: 28px;
    }
 }

 @media screen and (min-width:460px) {
    .container{
        width: 100%;
        height: 46vh;
        margin-left: 23%;
        margin-top: 10px;
        animation: slide3dInDown 1800ms both
    }
    @keyframes slide3dInDown {
        from {
            transform-origin: 50% 0%;
            transform: perspective(200px) translate3d(0, -200%, -100px) rotateX(-60deg);
            opacity: 0;
        }
    
        50% {
            transform-origin: 50% 0%;
            transform: perspective(200px) rotateX(-45deg);
            opacity: 1;
        }
    
        to {
            transform-origin: 50% 0%;
            transform: perspective(200px);
        }
        
    }
    .arrow{
        margin-left: -2px;
        font-size: 28px;
    }
    .arrow2{
        margin-left: 10px;
        font-size: 28px;
    }
 }

@media screen and (min-width:480px) {
   .container{
       width: 108%;
       height: 35vh;
       margin-left: 7%;
       animation: slide3dInDown 1800ms both
   }
   @keyframes slide3dInDown {
    from {
        transform-origin: 50% 0%;
        transform: perspective(200px) translate3d(0, -200%, -100px) rotateX(-60deg);
        opacity: 0;
    }

    50% {
        transform-origin: 50% 0%;
        transform: perspective(200px) rotateX(-45deg);
        opacity: 1;
    }

    to {
        transform-origin: 50% 0%;
        transform: perspective(200px);
    }
    
}
   .arrow{
    margin-left: -2px;
    font-size: 28px;
}
.arrow2{
    margin-left: 10px;
    font-size: 28px;
}
}

@media screen and (min-width:540px) {
    .container{
        width: 100%;
        height: 50vh;
        margin-left: 14%;
        animation: slide3dInDown 1800ms both
    }
    @keyframes slide3dInDown {
        from {
            transform-origin: 50% 0%;
            transform: perspective(200px) translate3d(0, -200%, -100px) rotateX(-60deg);
            opacity: 0;
        }
    
        50% {
            transform-origin: 50% 0%;
            transform: perspective(200px) rotateX(-45deg);
            opacity: 1;
        }
    
        to {
            transform-origin: 50% 0%;
            transform: perspective(200px);
        }
        
    }
    .arrow{
        margin-left: -2px;
        font-size: 28px;
    }
    .arrow2{
        margin-left: 10px;
        font-size: 28px;
    }
 }

@media screen and (min-width:768px) {
    .container{
        width: 100%;
        height: 37vh;
        margin-left: 17%;
        margin-top: 30px;
        animation: slide3dInDown 1800ms both
    }
    @keyframes slide3dInDown {
        from {
            transform-origin: 50% 0%;
            transform: perspective(200px) translate3d(0, -200%, -100px) rotateX(-60deg);
            opacity: 0;
        }
    
        50% {
            transform-origin: 50% 0%;
            transform: perspective(200px) rotateX(-45deg);
            opacity: 1;
        }
    
        to {
            transform-origin: 50% 0%;
            transform: perspective(200px);
        }
        
    }
    .wrapper{
        height: 110%;
    }
    .arrow{
        margin-left: 15px;
    font-size: 40px;
    }
    .arrow2{
        margin-left: 10px;
        font-size: 40px;
    }
 }


@media screen and (min-width:820px) {
    .container{
        width: 100%;
        height: 34vh;
        margin-left: 12%;
        margin-top: 25px;
        animation: slide3dInDown 1800ms both
    }
    @keyframes slide3dInDown {
        from {
            transform-origin: 50% 0%;
            transform: perspective(200px) translate3d(0, -200%, -100px) rotateX(-60deg);
            opacity: 0;
        }
    
        50% {
            transform-origin: 50% 0%;
            transform: perspective(200px) rotateX(-45deg);
            opacity: 1;
        }
    
        to {
            transform-origin: 50% 0%;
            transform: perspective(200px);
        }
        
    }
    .arrow{
        margin-left: 18px;
        font-size: 45px;
    }
    .arrow2{
        margin-left: 10px;
        font-size: 45px;
    }
 }

 @media screen and (min-width:912px) {
    .container{
        width: 100%;
        height: 33vh;
        margin-left: 11%;
        margin-top: 30px;
        animation: slide3dInDown 1800ms both
    }
    @keyframes slide3dInDown {
        from {
            transform-origin: 50% 0%;
            transform: perspective(200px) translate3d(0, -200%, -100px) rotateX(-60deg);
            opacity: 0;
        }
    
        50% {
            transform-origin: 50% 0%;
            transform: perspective(200px) rotateX(-45deg);
            opacity: 1;
        }
    
        to {
            transform-origin: 50% 0%;
            transform: perspective(200px);
        }
        
    }
    .arrow{
        margin-left: 18px;
        font-size: 45px;
    }
    .arrow2{
        margin-left: 10px;
        font-size: 45px;
    }
 }

 @media screen and (min-width:1024px) {
    .container{
        width: 100%;
        height: 85vh;
        margin-left: 11%;
        margin-top: 30px;
        animation: slide3dInDown 1800ms both
    }
    @keyframes slide3dInDown {
        from {
            transform-origin: 50% 0%;
            transform: perspective(200px) translate3d(0, -200%, -100px) rotateX(-60deg);
            opacity: 0;
        }
    
        50% {
            transform-origin: 50% 0%;
            transform: perspective(200px) rotateX(-45deg);
            opacity: 1;
        }
    
        to {
            transform-origin: 50% 0%;
            transform: perspective(200px);
        }
        
    }
    .arrow{
        margin-left: 18px;
        font-size: 45px;
    }
    .arrow2{
        margin-left: 10px;
        font-size: 45px;
    }
 }

 @media screen and (min-width:1280px) {
    .wrapper{
        height: 100%;
    }
    .container{
        width: 100%;
        height: 69vh;
        margin-left: -8px;
        margin-top: 20px;
        animation: slide3dInDown 1800ms both
    }
    @keyframes slide3dInDown {
        from {
            transform-origin: 50% 0%;
            transform: perspective(200px) translate3d(0, -200%, -100px) rotateX(-60deg);
            opacity: 0;
        }
    
        50% {
            transform-origin: 50% 0%;
            transform: perspective(200px) rotateX(-45deg);
            opacity: 1;
        }
    
        to {
            transform-origin: 50% 0%;
            transform: perspective(200px);
        }
        
    }
    .arrow{
        margin-left: 80px;
        font-size: 50px;
    }
    .arrow2{
        margin-left: -10px;
        font-size: 55px;
    }
 }