 .containerNav{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
 }  

 .ulCart{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
 }

 @media screen and (min-width:280px) {
    .containerNav{
        width: 239%;
        background-color: currentColor;
        position: sticky;
        top: 0;
        z-index: 99;
    }

    .logo{
        width: 80px;
        margin-left: -37px;
    }
    .ulCart{
        margin-left: 37%;
    }
    .spanCart{
        display: none;
    }

    .icon{
        margin-left: -15px;
        color: white;
    }
}


 @media screen and (min-width:320px) {
    .containerNav{
        width: 239%;
        background-color: currentColor;
        position: sticky;
        top: 0;
        z-index: 99;
    }

    .logo{
        width: 64px;
        margin-left: -428px;
    }

    .icon{
        margin-left: -16px;
        color: white;
    }
}

@media screen and (min-width:360px) {
    .containerNav{
        width: 141%;
        background-color: currentColor;
        position: sticky;
        top: 0;
        z-index: 99;
    }

    .logo{
        width: 70px;
        margin-left: -45px;
    }
    .ulCart{
        margin-left: 22%;
    }
    .spanCart{
        display: none;
    }

    .icon{
        margin-left: -15px;
    }
}




 @media screen and (min-width:375px) {
    .containerNav{
        width: 141%;
    }

    .logo{
        width: 70px;
        margin-left: -45px;
    }
    .ulCart{
        margin-left: 22%;
    }
    .spanCart{
        display: none;
    }

    .icon{
        margin-left: -15px;
    }
}

@media screen and (min-width:412px) {
    .containerNav{
        width: 134%;
        background-color: currentColor;
        position: sticky;
        top: 0;
        z-index: 99;
    }

    .logo{
        width: 70px;
        margin-left: -45px;
    }
    .ulCart{
        margin-left: 22%;
    }
    .spanCart{
        display: none;
    }

    .icon{
        margin-left: -15px;
    }
}

@media screen and (min-width:460px) {
    .containerNav{
        width: 144%;
        background-color: currentColor;
        position: sticky;
        top: 0;
        z-index: 99;
    }

    .logo{
    width: 77px;
    margin-left: -145px;
    margin-top: -7px;
    }

    .icon{
        margin-left: -4px;
        color: white;
    }
}
 
 @media screen and (min-width:540px) {
    .containerNav{
        width: 128%;
    }
    .logo{
        width: 70px;
        margin-left: -45px;
    }
    .ulCart{
        margin-left: 35%
    }
    .spanCart{
        display: none;
    }

    .icon{
        margin-left: -12px;
    }
}

 @media screen and (min-width:768px) {
    .containerNav{
        width: 132%;
    }
    .logo{
        width: 85px;
        margin-left: -50px;
    }
    .ulCart{
        margin-left: 56%;
    }
    .spanCart{
        display: none;
    }

    .icon{
        margin-left: -5px;
    }
}

 @media screen and (min-width:820px) {
    .containerNav{
        width: 123%;
    }

    .logo{
        width: 85px;
        margin-left: -50px;
    }
    .ulCart{
        margin-left: 56%;
    }
    .spanCart{
        display: none;
    }

    .icon{
        margin-left: -5px;
    }
}

@media screen and (min-width:912px) {
    .containerNav{
        width: 123%;
    }

    .logo{
        width: 85px;
        margin-left: -50px;
    }
    .ulCart{
        margin-left: 56%;
    }
    .spanCart{
        display: none;
    }

    .icon{
        margin-left: 0px;
    }
}

@media screen and (min-width:1024px) {
    .containerNav{
        width: 123%;
    }
    
    .logo{
        width: 110px;
        margin-left: -45px;
    }
    .ulCart{
        margin-left: 60%;
    }
    .spanCart{
        display: initial;
    }

    .icon{
        margin-left: 0px;
    }
}

@media screen and (min-width:1280px) {
    .containerNav{
        width: 100%;
    }

    .logo{
        margin-left: -5%;
        width: 8%;
    }
   
    .ulCart{
        margin-left: 59%;
    }
/* 
    .btn{
        display: none;
    }

    .icon{
        display: none;
    } */
    .cart{
        margin-left: -80%;
        margin-top: 16px;
        width: 80px;
    }

    .user{
        width: 116px;
        margin-top: -42px;
    }

    .userName{
        margin-top: -42px;
    }

    .spanC{
        display: contents;
        margin-left: 10px;
    }

    .spanU{
        display: contents;
        margin-left: 10px;
    }
}
    
    