.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    justify-content: center;
    margin: 20px 0;
    transition: transform .75s ;
}
.products .card{
    margin: 10px auto;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);  
    transition: transform .75s ; 
}

.products .card:hover{
    transform: scale(1.05);
}

.products .card-img-top{
    height: 350px;
    width: 100%;
    cursor: pointer;
    filter: brightness(80%);
    transition: transform .75s ;
}

.products .card .card-img-top:hover{
    transform: scale(1.05);
}

.products .card-img-top:hover{
    filter: brightness(100%);
}

.products .card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: rgb(70, 70, 70);
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
}
.products .card-text{
    height: 70px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: rgb(70, 70, 70);
}


/* --------- Detail Product ----------- */
.detail_page .img-thumbnail.active{
    border-color: orangered;
    padding: 2px;
}

@media screen and (min-width:280px) {
    .products{
        width: 235%;
        margin-left: 2%;
    }
    }


@media screen and (min-width:360px) {
    .products{
        width: 100%;
        margin-left: 24%;
    }
    .products .card{
        margin-bottom: 15px;
        width: 28rem;
        margin-left: -47px;
    
    }
    }

    @media screen and (min-width:390px) {
        .products{
            width: 100%;
            margin-left: 22%;
        }
        .products .card{
            margin-bottom: 15px;
            width: 28rem;
            margin-left: -31px;
        
        }
    }

        @media screen and (min-width:412px) {
            .products{
                width: 100%;
                margin-left: 17%;
            }
            .products .card{
                margin-bottom: 15px;
                width: 28rem;
                margin-left: -15px;
            
            }
         }
         @media screen and (min-width:460px) {
            .products{
                width: 142%;
                margin-left: 9px;
            }
           }


@media screen and (min-width:480px) {
    .products{
        width: 127%;
    }
   }

   @media screen and (min-width:540px) {
    .products{
        margin-left: 5px;
        width: 126%;
    }
    .products .card{
        width: 18rem;
        margin-left: 8%;
    }
   }

   @media screen and (min-width:768px) {
    .products{
        width: 129%;
        margin-left: 12px;
    }
    .products .card{
        width: 18rem;
        margin-left: 6%;
    }

}

   @media screen and (min-width:820px) {
    .products{
        width: 115%;
    margin-left: 33px;
}
.products .card{
       width: 18rem;
       margin-left: 6%;
  }
   }


@media screen and (min-width:912px) {
    .products{
        width: 122%;
        margin-left: 6px;
    }
    .products .card{
        width: 18rem;
        margin-left: 11%;
    }
}

@media screen and (min-width:1024px) {
    .products{
        width: 122%;
        margin-left: 5px;
    }
    .products .card{
        width: 18rem;
        margin-left: 4%;
    }
}

@media screen and (min-width:1280px) {
    .products{
        width: 100%;
        margin-left: 0px;
        animation: bounce 1900ms both
    }
    @keyframes bounce {

        from,
        20%,
        53%,
        80%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translate3d(0, 0, 0);
        }
    
        40%,
        43% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translate3d(0, -30px, 0);
        }
    
        70% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translate3d(0, -15px, 0);
        }
    
        90% {
            transform: translate3d(0, -4px, 0);
        }
    }
    .products .card{
        width: 18rem;
        margin-left: 4%
    }
}