@media screen and (min-width:280px) {
    .sign{
        margin-left: 75%;
        width: 100%;
        animation: bounceInDown 1600ms both
    }
    @keyframes bounceInDown {

        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    
        0% {
            opacity: 0;
            transform: translate3d(0, -3000px, 0);
        }
    
        60% {
            opacity: 1;
            transform: translate3d(0, 25px, 0);
        }
    
        75% {
            transform: translate3d(0, -10px, 0);
        }
    
        90% {
            transform: translate3d(0, 5px, 0);
        }
    
        to {
            transform: translate3d(0, 0, 0);
        }
    }
}


 @media screen and (min-width:320px) {
    .sign{
        width: 100%;
        margin-left: 1%;
        animation: bounceInDown 1600ms both
    }
    @keyframes bounceInDown {

        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    
        0% {
            opacity: 0;
            transform: translate3d(0, -3000px, 0);
        }
    
        60% {
            opacity: 1;
            transform: translate3d(0, 25px, 0);
        }
    
        75% {
            transform: translate3d(0, -10px, 0);
        }
    
        90% {
            transform: translate3d(0, 5px, 0);
        }
    
        to {
            transform: translate3d(0, 0, 0);
        }
    }
}

@media screen and (min-width:360px) {
    .sign{
        width: 100%;
        margin-left: 21%;
        animation: bounceInDown 1600ms both
    }
    @keyframes bounceInDown {

        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    
        0% {
            opacity: 0;
            transform: translate3d(0, -3000px, 0);
        }
    
        60% {
            opacity: 1;
            transform: translate3d(0, 25px, 0);
        }
    
        75% {
            transform: translate3d(0, -10px, 0);
        }
    
        90% {
            transform: translate3d(0, 5px, 0);
        }
    
        to {
            transform: translate3d(0, 0, 0);
        }
    }
}

@media screen and (min-width:375px) {
    .sign{
        width: 100%;
        margin-left: 21%;
        animation: bounceInDown 1600ms both
    }
    @keyframes bounceInDown {

        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    
        0% {
            opacity: 0;
            transform: translate3d(0, -3000px, 0);
        }
    
        60% {
            opacity: 1;
            transform: translate3d(0, 25px, 0);
        }
    
        75% {
            transform: translate3d(0, -10px, 0);
        }
    
        90% {
            transform: translate3d(0, 5px, 0);
        }
    
        to {
            transform: translate3d(0, 0, 0);
        }
    }
}

@media screen and (min-width:412px) {
    .sign{
        width: 100%;
        margin-left: 18%;
        animation: bounceInDown 1600ms both
    }
    @keyframes bounceInDown {

        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    
        0% {
            opacity: 0;
            transform: translate3d(0, -3000px, 0);
        }
    
        60% {
            opacity: 1;
            transform: translate3d(0, 25px, 0);
        }
    
        75% {
            transform: translate3d(0, -10px, 0);
        }
    
        90% {
            transform: translate3d(0, 5px, 0);
        }
    
        to {
            transform: translate3d(0, 0, 0);
        }
    }
}

@media screen and (min-width:460px) {
    .sign{
        width: 100%;
        margin-left: 15%;
        animation: bounceInDown 1600ms both
    }
    @keyframes bounceInDown {

        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    
        0% {
            opacity: 0;
            transform: translate3d(0, -3000px, 0);
        }
    
        60% {
            opacity: 1;
            transform: translate3d(0, 25px, 0);
        }
    
        75% {
            transform: translate3d(0, -10px, 0);
        }
    
        90% {
            transform: translate3d(0, 5px, 0);
        }
    
        to {
            transform: translate3d(0, 0, 0);
        }
    }
}
 
 @media screen and (min-width:540px) {
    .sign{
        width: 100%;
        margin-left: 15%;
        animation: bounceInDown 1600ms both
    }
    @keyframes bounceInDown {

        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    
        0% {
            opacity: 0;
            transform: translate3d(0, -3000px, 0);
        }
    
        60% {
            opacity: 1;
            transform: translate3d(0, 25px, 0);
        }
    
        75% {
            transform: translate3d(0, -10px, 0);
        }
    
        90% {
            transform: translate3d(0, 5px, 0);
        }
    
        to {
            transform: translate3d(0, 0, 0);
        }
    }
}

 @media screen and (min-width:768px) {
    .sign{
        width: 100%;
        margin-left: 16%;
        animation: bounceInDown 1600ms both
    }
    @keyframes bounceInDown {

        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    
        0% {
            opacity: 0;
            transform: translate3d(0, -3000px, 0);
        }
    
        60% {
            opacity: 1;
            transform: translate3d(0, 25px, 0);
        }
    
        75% {
            transform: translate3d(0, -10px, 0);
        }
    
        90% {
            transform: translate3d(0, 5px, 0);
        }
    
        to {
            transform: translate3d(0, 0, 0);
        }
    }
}

 @media screen and (min-width:820px) {
    .sign{
        width: 100%;
        margin-left: 13%;
        animation: bounceInDown 1600ms both
    }
    @keyframes bounceInDown {

        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    
        0% {
            opacity: 0;
            transform: translate3d(0, -3000px, 0);
        }
    
        60% {
            opacity: 1;
            transform: translate3d(0, 25px, 0);
        }
    
        75% {
            transform: translate3d(0, -10px, 0);
        }
    
        90% {
            transform: translate3d(0, 5px, 0);
        }
    
        to {
            transform: translate3d(0, 0, 0);
        }
    }
}

@media screen and (min-width:912px) {
    .sign{
        width: 100%;
        margin-left: 12%;
        animation: bounceInDown 1600ms both
    }
    @keyframes bounceInDown {

        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    
        0% {
            opacity: 0;
            transform: translate3d(0, -3000px, 0);
        }
    
        60% {
            opacity: 1;
            transform: translate3d(0, 25px, 0);
        }
    
        75% {
            transform: translate3d(0, -10px, 0);
        }
    
        90% {
            transform: translate3d(0, 5px, 0);
        }
    
        to {
            transform: translate3d(0, 0, 0);
        }
    }
}

@media screen and (min-width:1024px) {
    .sign{
        width: 100%;
        margin-left: 13%;
        animation: bounceInDown 1600ms both
    }
    @keyframes bounceInDown {

        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    
        0% {
            opacity: 0;
            transform: translate3d(0, -3000px, 0);
        }
    
        60% {
            opacity: 1;
            transform: translate3d(0, 25px, 0);
        }
    
        75% {
            transform: translate3d(0, -10px, 0);
        }
    
        90% {
            transform: translate3d(0, 5px, 0);
        }
    
        to {
            transform: translate3d(0, 0, 0);
        }
    }
}

@media screen and (min-width:1280px) {
    .sign{
        margin-left: 0%;
        animation: bounceInDown 1600ms both
    }
    @keyframes bounceInDown {

        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    
        0% {
            opacity: 0;
            transform: translate3d(0, -3000px, 0);
        }
    
        60% {
            opacity: 1;
            transform: translate3d(0, 25px, 0);
        }
    
        75% {
            transform: translate3d(0, -10px, 0);
        }
    
        90% {
            transform: translate3d(0, 5px, 0);
        }
    
        to {
            transform: translate3d(0, 0, 0);
        }
    }
}
